@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.svg') format('svg');
}

@font-face {
    font-family: "Montserrat Hairline";
    font-style: normal;
    font-weight: 200;
    src: url('fonts/Montserrat-Hairline.eot');
    src: url('fonts/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Hairline.woff') format('woff'), url('fonts/Montserrat-Hairline.svg') format('svg');
}

@font-face {
    font-family: "Montserrat Light";
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Light.woff') format('woff'), url('fonts/Montserrat-Light.svg') format('svg');
}

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
    margin: 0;
    padding: 0;
    border-width: 0;
    text-rendering: optimizeSpeed;
}

body {
    background-color: #F0F0F0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2,
.col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
.col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.header {
    background-color: #FFFFFF;
}

.container {
}

.page-wrapper {
    width:100%;
    overflow: hidden;
}

.page-mask {
    width: 200%;
    height: 100%;
}

.page {
    float:left;
}

/* menu */
.menu {
}

.menu-logo {
    padding-top: 5px;
}

.menu-item {
    text-align: center;
    line-height: 75px;
    cursor: pointer;
}

    .menu-item a {
        letter-spacing: 0.70px;
        color: #787878;
        font-family: 'Montserrat Light';
        font-size: 14px;
        font-style: normal;
        text-transform: uppercase;
        white-space: nowrap;
        text-decoration: none;
    }

        .menu-item a.active {
            font-family: 'Montserrat Bold'
        }

        .menu-item a span {
            height: 100%;
            widht: 100%;
            display: block;
        }

    .menu-item:hover {
        background-color: #F0F0F0;
    }

.menu-item-image {
    text-align: center;
    line-height: 41px;
    letter-spacing: 0px;
    color: #787878;
    font-family: 'Montserrat Hairline';
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

    .menu-item-image:hover {
        background-color: #F0F0F0;
    }

    .menu-item-image .img-box {
        height: 35px;
        padding-top: 10px;
    }

/* grid */
.block-container {
    margin-top: 20px;
}

.block {
    background-color: white;
    color: #a0a0a0;
    font-family: "Montserrat Light";
    overflow: hidden;
    cursor: pointer;
}

    .block:hover {
        outline: solid 2px orange;
    }

    .block .item {
        text-align: center;
    }

        .block .item .block-link-image {
            position: absolute;
            top: 15px;
            right: 15px;
            height: 24px;
            width: 24px;
            background-image: url(/image/arrow.png);
            background-repeat: no-repeat;
        }

        .block .item .image {
            display: block;
        }

            .block .item .image img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: 100%;
            }


.block-footer {
    color: #a0a0a0;
    display: inline-block;
    font-family: "Montserrat Light";
    font-size: 13px;
    margin-right: 18px;
    padding: 10px;
    text-align: left;
    vertical-align: bottom;
    width: 100%;
    line-height: 17px;
}

    .block-footer .big {
        font-size: 12px;
    }

.block-footer-price {
    background-color: #F0F0F0;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.block-text {
    color: white;
}

.block-text a, .block-text a:hover, .block-text a:active, .block-text a:visited{
    text-decoration:none;
}

.block-caption {
    color: white;
    font-family: 'Montserrat Light';
    font-size: 30px;
    margin: 0 !important;
    padding-left: 10%;
    padding-top: 30%;
    position: relative;
    text-align: left;
    vertical-align:bottom;
}

.blocks .block {
    margin-bottom: 16px;
}

/* Colors */
.block.color1 {
    background-color: #F09425;
}

.block.color2 {
    background-color: #84C35B;
}

.block.color3 {
    background-color: #0359A6;
}


/* Loader */
#blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #bbb;
    z-index: 1000;
}

    #blocker div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5em;
        height: 2em;
        margin: -1em 0 0 -2.5em;
        color: #fff;
        font-weight: bold;
    }

@media all and (max-width: 640px) {
    .block-footer {
        font-size:12px;
    }
    .block-caption {
        font-size: 25px;
    }
}

@media all and (max-width: 320px) {
    .block-footer {
        font-size:10px;
    }
    .block-caption {
        font-size: 20px;
    }
}
